.player-controls .playback-progressbar::before {
  content: '';
  width: 200px;
  height: 157px;
  right: 50px;
  bottom: calc(100% - 7px);
  position: absolute;
  image-rendering: auto;
  background-image: url("https://raw.githubusercontent.com/ayush-106/bongocat/main/bongo-cat-outline.gif");
}
